@import '../../App.scss';

.search {
  height: 45px;

  &__form {
    display: flex;
    border-bottom: $border;
  }

  &__input {
    padding-left: 16px;
    flex-grow: 1;
    border: transparent;
    outline: none;
  }

  &__button {
    width: 60px;
    height: 45px;
    border: none;
    background: url(../../images/search-ico.svg) no-repeat center;
    background-size: 25px 25px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      filter: opacity(0.4);
    }
  }
}
