@import '../../App.scss';

.locations {
  width: 50%;

  &__title {
    padding: 33px 18px 7px;
    border-bottom: $border;
    font-size: 24px;
    line-height: 28px;
  }

  &__ul {
    padding: 35px 25px 0px 20px;
    max-height: 319px;
    overflow: scroll;
  }

  &__li {
    list-style-type: none;
    margin: 0 0 14px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    &:hover {
      .locations__city_delete-button {
        opacity: 1;
      }
    }
  }

  &__city {
    font-size: 24px;
    line-height: 28px;
    border: transparent;
    background: transparent;
    cursor: pointer;

    &_delete-button {
      width: 28px;
      height: 28px;
      border: transparent;
      background: url(../../images/delete-ico.svg) no-repeat center;
      background-size: auto;
      filter: opacity(0.4);
      opacity: 0;
      cursor: pointer;

      &:hover {
        filter: opacity(1);
      }

      &:focus {
        opacity: 1;
        filter: opacity(1);
      }
    }
  }
}
